<%- include ('../layouts/adminHeader.ejs') %>





        <h4 style="color: white;" class="text-center my-5 ">ADMIN DASHBOARD</h4>
       
        <hr>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>

        
       
      

        <%- include ('../layouts/adminFooter.ejs') %>