



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Raaga</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    
    <link href="css/admin.min.css" rel="stylesheet">

    <link href="css/adminstyle.css" rel="stylesheet">

</head>

<body style="background-color: #0b0c2a;">
  


    <!-- Header -->
    <nav style="background-color: #0b0c2a; border-radius: 0px 0px 20px 20px;" class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            
            <a style="color: white; padding-right: 100px;" class="navbar-brand logo h2 align-self-center" href="/admin">
                <h1 class="beau" style=" font-family: 'Beau Rivage', cursive; color : azure">Raaga</h1>

            </a>

           

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                       
                        <li  class="nav-item">
                            <a class="nav-link text-success" href="/admin/user">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success"  href="/admin/category">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/admin/product">Products</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-success" href="/admin/order">Orders</a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link text-success" href="/admin/loadCoupon">Coupon</a>
                      </li>
    
                      <li class="nav-item">
                      <a  class="nav-link text-success" href="/admin/banner">Banner</a>
                      </li>
                  
                      
    
                   </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                   
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/admin/home">Dashboard</a>
                        </li>
                        
                       
                  
                      <li class="nav-item">
                      <a class="nav-link text-success" href="/admin/logout">Logout</a>
                       </li>
    
                   </ul>


                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    
