<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body style="background-color: black;">

    <div class="container mt-5">
      <div style="background-color: rgb(50, 50, 50);" class="jumbotron align-self-center">
        <h1 class="display-4 text-light">Error!</h1>
        <p style="color: rgb(156, 156, 156);" class="lead">Sorry, something went wrong.</p>
        <hr style="background-color: rgb(255, 255, 255);" class="my-4">
        <p style="color: rgb(201, 201, 201);">Please try again later.</p>
        <a style="background-color: rgb(53, 137, 247);" class="btn btn-m" href="/home" role="button">Go Back</a>
      </div>
    </div>
  </body>
</html>
